<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SearchFile.Properties.Settings>
            <setting name="labelDirectory_Text" serializeAs="String">
                <value>ディレクトリ名(&amp;D):</value>
            </setting>
            <setting name="buttonDirectory_Text" serializeAs="String">
                <value>ディレクトリの選択</value>
            </setting>
            <setting name="labelFile_Text" serializeAs="String">
                <value>ファイル名(&amp;F):</value>
            </setting>
            <setting name="radioWildcard_Text" serializeAs="String">
                <value>ワイルドカード</value>
            </setting>
            <setting name="radioRegex_Text" serializeAs="String">
                <value>正規表現</value>
            </setting>
            <setting name="buttonSearch_Text" serializeAs="String">
                <value>検索開始(&amp;S)</value>
            </setting>
            <setting name="buttonSearch_StopText" serializeAs="String">
                <value>検索中止(&amp;S)</value>
            </setting>
            <setting name="buttonClear_Text" serializeAs="String">
                <value>リストのクリア</value>
            </setting>
            <setting name="buttonSelectAll_Text" serializeAs="String">
                <value>すべて選択</value>
            </setting>
            <setting name="buttonReverseSelection_Text" serializeAs="String">
                <value>選択の切り替え</value>
            </setting>
            <setting name="buttonDeleteFile_Text" serializeAs="String">
                <value>選択ファイルを削除する</value>
            </setting>
            <setting name="checkMoveRecycler_Text" serializeAs="String">
                <value>削除時にファイルをごみ箱に移す</value>
            </setting>
            <setting name="columnFileName_Text" serializeAs="String">
                <value>ファイル名</value>
            </setting>
            <setting name="columnExtension_Text" serializeAs="String">
                <value>拡張子</value>
            </setting>
            <setting name="columnDirectoryName_Text" serializeAs="String">
                <value>ディレクトリ</value>
            </setting>
            <setting name="menuFile_Text" serializeAs="String">
                <value>ファイル(&amp;F)</value>
            </setting>
            <setting name="menuEdit_Text" serializeAs="String">
                <value>編集(&amp;E)</value>
            </setting>
            <setting name="menuEditCopy_Text" serializeAs="String">
                <value>検索結果をコピー(&amp;C)</value>
            </setting>
            <setting name="menuEditSelectAll_Text" serializeAs="String">
                <value>すべて選択(&amp;A)</value>
            </setting>
            <setting name="menuEditReverseSelection_Text" serializeAs="String">
                <value>選択の切り替え(&amp;R)</value>
            </setting>
            <setting name="menuFileClear_Text" serializeAs="String">
                <value>リストのクリア(&amp;C)</value>
            </setting>
            <setting name="menuFileSelectDirectory_Text" serializeAs="String">
                <value>ディレクトリの選択(&amp;S)...</value>
            </setting>
            <setting name="menuFileSaveAs_Text" serializeAs="String">
                <value>名前を付けて保存(&amp;A)...</value>
            </setting>
            <setting name="menuFileExit_Text" serializeAs="String">
                <value>終了(&amp;X)</value>
            </setting>
            <setting name="SearchFileForm_Text" serializeAs="String">
                <value>ファイルの検索</value>
            </setting>
            <setting name="toolFileClear_Text" serializeAs="String">
                <value>リストのクリア</value>
            </setting>
            <setting name="toolFileSelectDirectory_Text" serializeAs="String">
                <value>ディレクトリの選択</value>
            </setting>
            <setting name="toolFileSaveAs_Text" serializeAs="String">
                <value>名前を付けて保存</value>
            </setting>
            <setting name="toolEditResultCopy_Text" serializeAs="String">
                <value>検索結果をコピー</value>
            </setting>
            <setting name="toolEditCut_Text" serializeAs="String">
                <value>切り取り</value>
            </setting>
            <setting name="toolEditCopy_Text" serializeAs="String">
                <value>コピー</value>
            </setting>
            <setting name="toolEditPaste_Text" serializeAs="String">
                <value>貼り付け</value>
            </setting>
            <setting name="contextFileListClear_Text" serializeAs="String">
                <value>リストのクリア(&amp;C)</value>
            </setting>
            <setting name="contextFileListResultCopy_Text" serializeAs="String">
                <value>検索結果をコピー(&amp;O)</value>
            </setting>
            <setting name="contextFileListSelectAll_Text" serializeAs="String">
                <value>すべて選択(&amp;A)</value>
            </setting>
            <setting name="contextFileListReverseSelection_Text" serializeAs="String">
                <value>選択の切り替え(&amp;R)</value>
            </setting>
            <setting name="contextFileListAutoColumnWidth_Text" serializeAs="String">
                <value>検索時に列幅を自動調整(&amp;W)</value>
            </setting>
            <setting name="contextFileListShowProperty_Text" serializeAs="String">
                <value>プロパティの表示(&amp;P)</value>
            </setting>
        </SearchFile.Properties.Settings>
    </applicationSettings>
</configuration>